
.header {
  width: 80vw;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  color: white;
  flex-direction: row;
}

.title > h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
}

.logo {
  padding: 0.8rem 1rem 0 0;
  transform: scale(2.5);
  color: var(--white);
}
