
.header {
  display: flex;
  width: 100%;
  max-width: 80rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  display: flex;
  color: white;
}


.title h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
}

.logo {
  padding: 0.8rem 1rem 0 0;
  color: var(--white);
}

@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header h1 {
    margin-bottom: 0.5rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .connect-button {
    min-width: 10rem;
  }
}

