.task-input {
  width: 50vw;
  height: 7.5vh;
  padding: 1rem;
  margin-bottom: 50px;
  border: 2px solid var(--border);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input input {
  background: transparent;
  width: 90%;
  border: none;
  outline: none;
  height: 100%;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.task-input .task-add-icon {
  color: var(--border);
  transform: scale(1.5);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  cursor: pointer;
}

.task-input-text {
  margin-bottom: 10px;
  color: var(--border);
}

