* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --white: #bdd4ea;
  --border: #334350;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
